/* style the body */
body{
    background-color: rgb(238, 179, 92);
}
/* styling the image */
#blueimage{
    width:100%;
    height:100%;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }